fastapi==0.115.2
uvicorn[standard]==0.34.0
python-dotenv
firebase-admin
google-adk==0.3.0
google-cloud-firestore
google-cloud-storage
google-generativeai
pytest
httpx
deprecated
motor==3.6.0
pymongo==4.9.1
beanie==1.28.0
dnspython==2.7.0